@import "tailwindcss";

@theme {
  --color-background: #f9fafb;
  --color-panel: #ffffff;
  --color-primary: #2563EB;
  --color-primary-hover: #1d4ed8;
  --color-border: #e4e4e7;
  --color-text: #18181b;
  --color-text-muted: #71717a;
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-error: #ef4444;
}

body {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.leaflet-container {
  border-radius: 1rem;
  z-index: 10;
}
